name: Main health

push:
  branches:
    - main

jobs:
  validate:
    name: Validate
    uses: ./.github/workflows/validate.yml

  tests:
    needs: [validate]
    name: Tests
    uses: ./.github/workflows/tests.yml
